
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {

    right: 70px;
    bottom: 90px;
    min-width: 40%; 
    min-height: 40%;
}

.content {
    position: fixed;
    bottom: 70px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 40%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 6px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
margin-left:130%;
}

#myBtn:hover {
    background: #ddd;
    color: orange;
}
